/* The Programming Polyglot Homepage Style Sheet */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

html {
    font-size: 25pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex: 1 0 auto;
    background-image: linear-gradient(to bottom, rgb(0, 121, 121), cyan);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: teal;
    width: 100vw;
    height: 25vh;
    box-shadow: 0 3vmin 10px rgb(0, 88, 88);
    color: rgb(0, 41, 41);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2vmax;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1vmin;
}

.logo {
    font-size: 4vmax;
    background-color:rgba(102, 248, 248, 0.39);
    width: 5vmax;
    height: 5vmax;
    display: block;
    border: 0.5vmin solid;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: rgb(195, 240, 240);
    border-top-color: rgb(195, 240, 240);
    color:rgb(0, 41, 41);
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(195, 240, 240);
    box-shadow: inset 1vmin 1vmin 10px rgb(0, 41, 41), inset -1vmin -1vmin 10px rgb(0, 41, 41);
}

.logo:hover {
    border-right-color: rgb(195, 240, 240);
    border-bottom-color: rgb(1, 102, 102);
    border-left-color: rgb(1, 102, 102);
    border-top-color: rgb(195, 240, 240);
    color:rgb(195, 240, 240);
    box-shadow: inset 0.3vmin 0.3vmin 10px rgb(195, 240, 240), inset -0.3vmin -0.3vmin 10px rgb(195, 240, 240);
    text-shadow: none;
}

.title-name {
    font-size: 1.5vmax;
    color:rgb(195, 240, 240);
}

h1 {
    font-size: 4vmax;
}

h2 {
    color: white;
    font-size: 4vmax;
    text-align: center;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

h2, .intro {
    padding: 1vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
}

#languages {
    display: flex;
    flex-direction: row;
    gap: 10vmin;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3vmax;
}
button {
    padding: 3vmin;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgb(162, 238, 238);
    border-top: 2px solid teal;
    border-left: 2px solid teal;
    border-right: 2px solid rgb(0, 41, 41);
    border-bottom: 2px solid rgb(0, 41, 41);
}

button:hover {
    background-image: radial-gradient(cyan, rgb(0, 121, 121)) ;
    color: white;
}

footer {
    flex-shrink: 0;
    background-color: teal;
    color: white;
    font-style: italic;
    font-size: 0.5rem;
    width: 100%;
    text-align: center;
    padding: 1vmin;
}

.note {
    font-style: italic;
    font-size: 0.5rem;
    text-align: center;
}

.script {
    font-family: 'Dancing Script';
    text-align: left;
    font-weight: lighter;
}

.intro {
    font-size: 0.75rem;
    color:rgb(0, 41, 41);
    font-family: 'Merienda';
}

@media (max-width: 700px) {
    nav {
        padding: 2vmax;
    }
    p {
        text-align: center;
    }
    h1 {
        text-align: right;
    }
}
