/* The Programming Polyglot Web Page Style Sheet */

@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 25pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, nav, .logo-container, .code-box, .psuedo-form, .align, #HSL-generator, .hsl, .sections {
    display: flex;
}

html, body {
    height: 100%;
}

.logo-container, h1, summary {
    font-family: 'Ubuntu';
}

body {
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    flex: 1 0 auto;
    background-image: linear-gradient(to bottom, rgb(0, 121, 121), cyan);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: teal;
    height: 25vh;
    box-shadow: 0 2vmin 10px rgb(0, 88, 88);
    color: rgb(0, 41, 41);
    font-weight: bold;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2vmax;
}

.logo-container {
    flex-direction: row;
    align-items: flex-end;
    gap: 1vmin;
}

.logo {
    font-size: 4vmax;
    background-color:rgba(102, 248, 248, 0.39);
    width: 5vmax;
    height: 5vmax;
    display: block;
    border: 0.5vmin solid;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: rgb(195, 240, 240);
    border-top-color: rgb(195, 240, 240);
    color:rgb(0, 41, 41);
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 10px rgb(195, 240, 240);
    box-shadow: inset 1vmin 1vmin 10px rgb(0, 41, 41), inset -1vmin -1vmin 10px rgb(0, 41, 41);
}

.logo:hover {
    border-right-color: rgb(195, 240, 240);
    border-bottom-color: rgb(1, 102, 102);
    border-left-color: rgb(1, 102, 102);
    border-top-color: rgb(195, 240, 240);
    color:rgb(195, 240, 240);
    box-shadow: inset 0.3vmin 0.3vmin 10px rgb(195, 240, 240), inset -0.3vmin -0.3vmin 10px rgb(195, 240, 240);
    text-shadow: none;
}

.title-name {
    font-size: 1.5vmax;
    color:rgb(195, 240, 240);
}

h1 {
    font-size: 4vmax;
}

article {
    flex: 1;
    margin: 1.5vmax;
    padding: 3vmax;
}

details {
    margin: 2vmax 0;
}

summary {
    color: white;
    padding: 1vmin;
}

summary:hover {
    text-decoration: 0.5vmin dotted underline;
    background-color: rgba(102, 248, 248, 0.39);
    border-radius: 10px;
    box-shadow: inset 1vmin 1vmin 2vmin teal, inset -1vmin -1vmin 2vmin teal, inset 1vmin -1vmin 2vmin teal, inset -1vmin 1vmin 2vmin teal;
    width: -moz-fit-content;
    width: fit-content;
}

p, ul, #grey-answer, #transparent-answer {
    font-size: 0.75rem;
    line-height: 1.25rem;
}

p {
    padding-left: 2rem;
}

ol {
    color:rgb(1, 102, 102);
}

ul {
    margin-top: 0.5rem;
    margin-left: 3rem;

}

li {
    margin-bottom: 1vmax;
}

.link {
    color: cyan;
}

.link:hover {
    color: white;
    text-decoration: dotted underline;
}

.return {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    margin: 4vmax;
    background-color:rgb(129, 248, 248);
    color: rgb(0, 41, 41);
    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-left-color:rgb(129, 248, 248);
    border-top-color:rgb(129, 248, 248);
    border-right-color:rgb(0, 173, 173);
    border-bottom-color:rgb(0, 173, 173);
    padding: 1vmin;
}

.return:hover {
    background-image: radial-gradient(cyan, rgb(0, 121, 121)) ;
    color:white;
    font-style: normal;
    border-width: 2px;
    border-style: solid;
    border-top-color: rgb(0, 41, 41);
    border-left-color: rgb(0, 41, 41);
    border-right-color: rgb(0, 41, 41);
    border-bottom-color: rgb(0, 41, 41);
}

footer {
    background-color: teal;
    color: white;
    font-style: italic;
    font-size: 3vmin;
    width: 100%;
    text-align: center;
    padding: 1vmin;
}